<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
</head>
<body>
    <form action="" method="POST">
        <label for="">User Name:<input type="text" name="uname"></label>
        <label for="">Mobile:<input type="number" name="umobile"></label>
        <label for="">Location:<input type="text" name="uloc"></label>
        <input type="submit" value="Add User">
    </form>
</body>
</html>